.c--instrument-table--table {
  display: flex;
  justify-content: space-evenly;
}

.c--instrument-table--header {
  font-weight: bold;
  text-align: left;
  flex-grow: 1;
}

.c--instrument-table--header--item {
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px gray;
  padding: 10px 10px;
}

.c--instrument-table--item, .c--instrument-table--item--active {
  text-align: right;
  border-bottom: solid 1px gray;
  padding: 10px 10px;
}

.c--instrument-table--item--active {
  background: lightblue;
}

.c--instrument-table--column {
  flex-grow: 1;
}